body{
    margin: 0;
    background: var(--cor-fundo2);
    overflow-x: hidden;
    width: 100%;
    text-align: center;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --var-fundo1: #131313;
    --var-fundo2: #191919;
    --var-verde: #1ed760;
}
::-webkit-scrollbar{
    background-color: var(--var-fundo1);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--var-verde);
    
}
@font-face {
    font-family: conneqt;
    src: url(fonts/ConneqtRegular.ttf) format('truetype');
}
@font-face {
    font-family: HarmoniaSans;
    src: url(fonts/HarmoniaSansProCyr-Bold.ttf) format('truetype');
}
button{
    display: none;
}
/** --------------------- LANDPAGE ------------------------- **/
.landpage{
    background: linear-gradient(45deg,#1f1f1f, #0c0c0c);
    height: 100vh;
}
.landpage h1{
    margin: 0;
    left: 10%;
    position: relative;
    top: 30%;
    color: white;
    font-family: conneqt;
    
}
.landpage h2{
    font-size: 6.25em;
    margin-left: 0px;
    margin: 0 auto;
    left: -65px;
    position: relative;
    top: 30%;
    color: white;
    font-family: conneqt;
}
.landpage h1{
    font-size: 3.12em;
    
}
.landpage p{
    
    position: relative;
    
    color: var(--var-verde);
    font-family: Bahnschrift;
    font-size: 26px;
    opacity: 0.7;
    margin: 7px 0;
    margin-bottom: 15px;
}
.landpage-texto{
    position: absolute;
    top: 30%;
    left: 10%;
}
            /** --------------------- BOTAO ------------------------- **/
            
            .bottons{
                color: var(--var-verde);
                font-family: Bahnschrift; 
                position: relative;
                font-size: 30px;
                
                
            }
            .bottons a{
                color: white;
                text-decoration: none;
                border: solid 2px var(--var-verde);
                border-radius: 8px ;
                padding: 5px;
                transition: 0.5s;
                margin: 0px;
                
            }
            .bottons a:hover{
            background-color: var(--var-verde);
            font-size: 29px;
            }
        
            
 @media screen and (max-width: 568px) {
          .landpage h1{
            font-size: 2em;
            left: 0;
          }
          .landpage h2{
            font-size: 5.15em;
            left: -50px;
          }
          .landpage p{
            font-size: 18px;
            text-align: center;
          }
          .landpage-texto, .landpage{
            text-align: center;
            margin: 0 auto;
          }
        .bottons{
            left: 10px;
            font-size: 25px;
        }
 }

/** --------------------- MENU ------------------------- **/
.menu span{
    font-family: Bahnschrift;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50px;
}
.menu{
    background-color: rgb(19, 19, 19,0.8);
    border-bottom: 1px solid var(--var-verde);
    height: 70px;
    width: 100%;
    margin: 0;
    position: fixed;

    opacity: 1;
    z-index: 10;
    min-width: 200px;
}
.menu ul{
    padding: 0;
    position: relative;
    text-align: right;
    top: 10px;

}
.menu ul li{
    margin-right: 50px;
    list-style: none;
    display: inline;
}
.menu ul li a{
    color: white;
    font-family: Bahnschrift;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}
.menu ul li a:hover{
    position: relative;
    opacity: 0.5;
}
        /** Menu Responsivo**/
        .menu-responsive{
            position: fixed;
            left: -100%;
            transition: 0.2s;
            height: 100%;
            width: 100%;
            z-index: 19;
            background-color: rgb(19, 19, 19,0.992);
            
        }
        .menu-responsive ul{
            text-align: center;
            list-style: none;
            top: 20%;
            position: relative;
            padding: 0;
        }
        .menu-responsive ul li{
            margin: 20px;
            padding: 5px;
        }
        .menu-responsive a{
            cursor: pointer;
            color: white;
            text-decoration: none;
            font-family:Bahnschrift ;
            font-size: 2rem;
            
        }
        /** BOTAO DO Menu Responsivo**/

        .landpage button{
            border: none;
            text-decoration: none;
            background: none;
            cursor: pointer;
            position: fixed;
            top: 0;
            z-index: 20;
            padding: 10px;
            width: 50px;
            height: 50px;
            color: var(--var-verde);
            
        }
        .botao-menu{
            visibility: hidden;
            width: 100%;
            height: 50px;
            background-color: rgba(37, 37, 37, 0.9);
            z-index: 20;
            top: 0;
            position: fixed;
            border-bottom: 1px solid var(--var-verde);
        }
        button i{
            font-size: 2em;
            
        }
        /** Ativação DO Menu Responsivo**/
        .open{
            left: 0%;
        }


/** ICONES **/
.icons{
    position: absolute;
    top: 40%;    
}
.icons i{
    color: white;
    flex-wrap: wrap;
    display: block;
    padding: 12px;
    margin-left: 10px;
    transition: 0.2;     
}
.icons i:hover{
    opacity: 80%;
    color: var(--var-verde);
}


/** --------------------- SOBRE MIM ------------------------- **/
.sobre{
    background-color: var(--var-fundo1);
    text-align: center;
    height: 500px;
    float: left;
    margin: 0;
    width: 100%;
}
.sobre h2{
    padding: 0;
    color: white;
    font-family: HarmoniaSans;
    font-size: 40px;
    margin-top: 90px;
}
.sobre p{
    font-family: Calibri;
    margin: 0 0;
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
    

}
/** --------------------- PROJETOS ------------------------- **/
.projetos{
    background-color: var(--var-fundo2);
    text-align: center;
 
    margin: 0;
    width: 100%;
    float: left;

}
.projetos h2{
    margin: 20 0;
    padding: 0;
    color: white;
    font-family: HarmoniaSans;
    font-size: 40px;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-fundo2);

}
.container a{
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: -300px;
}

@media screen and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
    }
}


.container .card{
    overflow-y: hidden;
    position: relative;
    width: 350px;
    height: 300px;
    border: 1px solid var(--var-verde);
    margin: 20px;
    cursor: pointer;

}
/**BORDA VERDE SUINDO DENTRO DO CARD **/
.container .card::before{
    overflow-x: hidden;
    bottom: -100%;
    left: 0;
    content: '';
    background-color: var(--var-verde);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
}
.container .card:hover::before{
   
    bottom: 0;
    position: absolute;
}
/**FIM --- BORDA VERDE SUINDO DENTRO DO CARD **/


.container .card .box .content{
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2{
    position: absolute;
    top: -100px;
    right: 30px;
    font-size: 8em;
    color: rgba(58, 58, 58, 0.3);
    transition: 0.5s;
    font-family: Bahnschrift;

}
.container .card .box .content:hover h2{
   
    color: rgba(58, 58, 58, 1);
}
.container .card .box .content h3{
    position: relative;
    top: 100px;
    left: 0px;
    font-family: sans-serif;

}
.container .card .box .content p{
    position: relative;
    top: 90px;
    font-family: calibri;
    
}

.container .card .box .content .iconescard {
    position: relative;
    
    bottom: 10px;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 130px;
    color: white;
}
.container .card .box .content .iconescard i{
    margin-right: 5px;
    margin-left: 5px;
}
.container .card .box .content .iconescard i:hover{
    color: rgba(58, 58, 58, 1);
}
.container #breve{
    color: rgb(0, 0, 0, 0.3);
    font-size: 30px;
}

/** --------------------- Habilidades ------------------------- **/
.habilidades{
    background-color: var(--var-fundo1);
    text-align: center;
    margin: 0;
    width: 100%;
    float: left;
    min-height: 500px;
    

}
.habilidades h2{
    margin: 20 0;
    padding: 0;
    color: white;
    font-family: HarmoniaSans;
    font-size: 40px;
}
.habilidades .skills{
    margin: 0;
    display: inline-block;
    align-items: center;
}
.habilidades .skills .skill{
    margin: 40px 15px;
    width: 100px;
    height: 100px;
    float: left;
    background-color: var(--var-fundo2);
    border: 1px solid var(--var-fundo2);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.habilidades .skills .skill:hover{
    border: 1px solid var(--var-verde);
  
}

.habilidades .box h2{
    font-family: Calibri;
    margin: 0 0;
    
}
.habilidades .box p{
    font-family: Calibri;
    margin: 0 0;
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
}
.habilidades .skills .skill .box h3{
    font-family: Calibri;
    color: white;
    margin: 10px auto;
    font-size: 30px;

}
.skills img{
    width: 100px;
    height: 100px;
}


.contatos{
    display: none;
}

#html-select:hover #html-info,
#css-select:hover #css-info,
#js-select:hover #js-info,
#php-select:hover #php-info,
#jq-select:hover #jq-info,
#rc-select:hover #rc-info{
    display: block;
}
#html-info, #css-info,#js-info,#php-info, #jq-info, #rc-info{
    display: none;
}
 








@media screen and (min-width:0px) and (max-width: 1024px) {
    .menu, .icons{
        display: none;
    }
    button{
       position: fixed;
       right: 0;
       display: block;
    }
   html{
    width: 100%;
   }
   .botao-menu{
    visibility: visible;
   }
   .projetos .container{
    margin-top: -50px;
   }
   .habilidades .skills{
    margin-left: 50px;
    margin-bottom: 10px;
   }
   .projetos h2{
    margin-bottom: 50px;
   }
   .sobre p{
    margin-top: -20px;
    font-size: 17.8px;
   }
   /** ABA CONTATOS **/
   .contatos{
    display: block;
    float: left;
    color: white;
    width: 100%;
    height: 150px;
    background-color: var(--var-fundo2);
   }
   .contatos h2{
    font-size: 40px;
    font-family: HarmoniaSans;
    margin-top: 10px;
   }
   .contatos i{
    color: white;
    font-size: 27px;
    margin:  -30px 10px;
   }
}



.projetos h2, .main, .habilidades h2, .skills, .sobre h2,.sobre p{
    visibility: hidden;
}